.h1 {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    flex: 10;
    color: white;
    padding: 0.6em;
    margin: 0;
}

.header {
    text-align: center;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #505050;
    display: flex;
    flex-direction: row;
}

#CVdownload, .paddingDiv {
    flex: 1;
}

#CVdownload {
    cursor: pointer;
    background-color: var(--editColor);
    outline: 0;
    border: none;
}

.basicInfo {
    display: flex;
}

.basicInfoDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 5
}

.basicInfoContact {
    flex: 3;
}

.basicInfo p {
    padding: 0.6em;
    margin: 0;
}