.panelView, .panelEdit {
  background-color: white;
  height: 90%;
  border-radius: 0.5rem;
  margin: 0 10px;
  overflow: auto;
}

.panelView {
  flex: 5;
  color: #262626;
}

.panelEdit {
  flex: 3;
  display: flex;
  flex-direction: column; 
}

.sectionButtons, .sectionEdit {
  display: flex;
  flex-direction: row;
  padding: 0.6rem;
  justify-content: space-around;
  
}

.sectionEdit {
  flex-direction: column;
  justify-content: start;
  color: #262626
}